<div class="container-form form-contact">
    <form>
        <div class="container-input">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Nom et prenom, ou entreprise" required>
        </div>
        <div class="container-input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Nom@mail.com" required>
        </div>
        <div class="container-input">
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" placeholder="Ecrivez ici..." required></textarea>
        </div>
        <button type="submit">Envoyer</button>
    </form>
</div>