$acid-grotesk: "FFF Acid Grotesk";
$culture: "Culture";

// !COLOR
$grey-black: #202020;
$red-color: #ef233c;
$white-color: #fff;
$soft-blue: #e3f7f7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.accordion .accordion-content {
  margin-top: 24px;
  overflow: hidden;
}

.border-grey {
  width: 100%;
  height: 1.9px !important;
  background-color: $grey-black;
  position: relative;
}

.border-red {
  height: 1.9px !important;
  background-color: red;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.open .border-red {
  width: 100% !important;
  transition: width 0.8s ease-in-out;
}

.accordion-content.open {
  padding-bottom: 10px;
}
.accordion-content header {
  display: flex;
  min-height: 50px;
  padding: 0 3px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-out;
  margin-top: 13px;
}
.accordion-content.open header {
  min-height: 35px;
}

.accordion-content p {
  opacity: 0;
}
.accordion-content.open p {
  margin-top: 1rem;
  opacity: 1;
}

.accordion .open:nth-child(1)  p  {
  height: 125px;
}
.accordion .open:nth-child(2)  p  {
  height: 40px;
}
.accordion .open:nth-child(3)  p  {
  height: 300px;
}

.accordion-content header .title {
  font-size: 26px;
  font-weight: 900;
  color: $grey-black;
  font-family: $culture;
}
.accordion-content .description {
  height: 0;
  font-size: 1rem;
  color: $grey-black;
  font-weight: 500;
  padding: 0 15px;
  transition: all 0.2s ease-out;
  font-family: $acid-grotesk;
  line-height: 27px;
}

// PHOTO

.photo-container {
  display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  max-width: 1540px;
}
.photo {
  width: 546px;
  height: 350px;
  object-fit: cover;
  border-radius: 35px;
}
@media screen and (min-width: 700px) {
  .accordion-content header .title {
    font-size: 31px;
    font-weight: 900;
  }

  .accordion {
    max-width: 687px;
  }

  .accordion .accordion-content {
    margin-top: 42px;
  }

  .accordion-content .description {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1069px) {
  .photo-container {
    display: block;
  }

  .accordion {
    margin: 0;
  }

  .container {
    margin: 0 40px;
  }

  .accordion .accordion-content {
    margin-top: 47px;
  }

  .accordion-content .description {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1540px) {
  .container {
    margin: 0 auto;
  }
  .accordion-content .description {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1700px) {
  .accordion-content header .title {
    font-size: 36px;
  }

  .accordion {
    max-width: 687px;
  }

  .photo {
    width: 706px;
    height: 452px;
    object-fit: cover;
    border-radius: 41px;
  }

  .accordion .accordion-content {
    margin-top: 30px;
  }
}
