<section id="hero">
    <div class="nom">
        <h2>timothe</h2>
        <h1>HEGE</h1>
    </div>
    <div class="info">
        <div class="img">
            <img src="../../../../assets/img/img-hero1.jpg" alt="">
        </div>
        <div class="para">
            <p>Étudiant en développement web, j'aime créer et réaliser des projets jusqu'à leur terme, de manière
                créative et organisée.</p>
        </div>
    </div>
</section>

<app-infinite-scrolling-text [text1]="'&nbsp;A PROPOS DE MOI&nbsp;'" [text2]="'&nbsp;A PROPOS DE MOI&nbsp;'"></app-infinite-scrolling-text>

<app-according/>
<app-infinite-scrolling-text [text1]="'&nbsp;TOUT MES PROJETS&nbsp;'" [text2]="'&nbsp;TOUT MES PROJETS&nbsp;'"></app-infinite-scrolling-text>

<app-projet-site/>
<app-infinite-scrolling-text [text1]="'&nbsp;CONTACTEZ MOI&nbsp;'" [text2]="'&nbsp;CONTACTEZ MOI&nbsp;'"></app-infinite-scrolling-text>
<app-contact/>