<section id="hero">
    <div class="nom">
        <h2>timothe</h2>
        <h1>HEGE</h1>
    </div>
    <div class="info">
        <div class="img">
            <img src="../../../../assets/img/img-hero.jpg" alt="">
        </div>
        <div class="para">
            <p>Étudiant en développement web, j'aime créer et réaliser des projets jusqu'à leur terme, de manière
                créative et organisée.</p>
        </div>
    </div>
</section>

<app-infinite-scrolling-text [text1]="'A PROPOS DE MOI'" [text2]="'A PROPOS DE MOI'" ></app-infinite-scrolling-text>



 