@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-ExtraLight-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-ExtraLight-TRIAL.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-UltraLight-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-UltraLight-TRIAL.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Light-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Light-TRIAL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Normal-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Normal-TRIAL.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Regular-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Regular-TRIAL.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Medium-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Medium-TRIAL.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Bold-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Bold-TRIAL.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-ExtraBold-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-ExtraBold-TRIAL.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Acid Grotesk";
  src: url("FFF-AcidGrotesk-Black-TRIAL.woff2") format("woff2"),
    url("FFF-AcidGrotesk-Black-TRIAL.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
