$acid-grotesk: "FFF Acid Grotesk";
$culture: "Culture";

// !COLOR
$grey-black: #202020;
$red-color: #dc2323;
$white-color: #fff;
$soft-blue: #e3f7f7;

.nom-date {
  margin-top: 80px;
  margin-bottom: 80px;
}

.nom-date h6 {
  font-size: 18px;
  font-family: $acid-grotesk;
  font-weight: 500;
  color: $grey-black;
  text-align: center;
}

.nom-date h6 span {
  font-size: 18px;
  font-family: $acid-grotesk;
  font-weight: 500;
  color: $red-color;
}

.titre h1 {
  font-size: 112px;
  color: $grey-black;
  text-align: center;
  line-height: 100px;
}

.titre h1 .part1 {
  font-family: $acid-grotesk;
  font-weight: 600;
}

.titre h1 .part2 {
  font-family: $culture;
  font-weight: 900;
}

.img-hero {
  text-align: center;
  margin-top: 100px;
}

.img-hero img {
  width: 80%;
  border-radius: 16px;
}

.description {
  margin: 100px 0px;
}

.description h2,
.fonctionalité,
.technologie-utiliser h2 {
  text-align: center;
  font-size: 30px;
  font-family: $acid-grotesk;
  color: $grey-black;
  font-weight: 800;
  margin-bottom: 20px;
}

.fonctionalité {
  margin-bottom: 30px;
}

.description h2 span,
.technologie-utiliser h2 span {
  font-style: italic;
  font-weight: 600;
}

.description p {
  font-size: 18px;
  font-family: $acid-grotesk;
  color: $grey-black;
  font-weight: 600;
  width: 800px;
  margin: 8px auto 0px auto;
  line-height: 30px;
}

.container-objectif p {
  width: 500px;
}

.container-objectif {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 20px;
}

.container-container-objectif {
  display: flex;
  justify-content: center;
}

.container-bento {
  display: flex;
  justify-content: space-between;
}


.bento-deux {
  gap: 40px;
  margin-top: 20px;
}

.container-fonctioanlite {
  margin: 100px auto;
}




.box h1 {
  font-size: 24px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  margin-bottom: 8px;
  font-weight: 700;
}

.box p {
  font-size: 18px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  font-weight: 500;
}


.video-container video {
  width: 80%;
  border-radius: 16px;
}

.video-container .video {
  text-align: center;
}

.techno-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 70%;
  margin: 0 auto;
}

.techno-card {
  padding: 32px;
  background-color: #202020;
  border-radius: 16px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  flex: 1 0 calc(50% - 20px);
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.box {
  padding: 32px;
  background-color: #202020;
  border-radius: 16px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  flex: 1 0 calc(30% - 20px);
}

.techno-card h1 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

.techno-card p {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}

.technologie-utiliser{
  margin: 100px 0;
}

@media screen and (max-width: 1278px) {
  .container-bento {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }


  .container-objectif {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 907px) {
  .titre h1 {
    font-size: 80px;
    color: $grey-black;
    text-align: center;
    line-height: normal;
  }

  .titre h1 .part1 {
    font-family: $acid-grotesk;
    font-weight: 600;
  }

  .titre h1 .part2 {
    font-family: $culture;
    font-weight: 900;
  }

  .description-para {
    width: 80% !important;
    font-size: 16px;
  }

  .container-objectif p {
    width: 80%;
  }

  .img-hero img {
    width: 90%;
  }

  .description p {
    text-align: center;
  }

  .techno-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 80%;
    flex-direction: column;
  }

  .techno-card {
    padding: 32px;
    background-color: #202020;
    border-radius: 16px;
    font-family: $acid-grotesk;
    color: $soft-blue;
    flex: 1 0 calc(50% - 20px);
  }

  .techno-card h1 {
    font-size: 20px;
  }

  .techno-card p {
    font-size: 16px;
  }

  .box p {
    font-size: 16px;
  }

  .box h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 583px) {
  .titre h1 {
    font-size: 40px;
    color: $grey-black;
    text-align: center;
  }


  .container-objectif p {
    width: 90%;
  }

  .description-para {
    width: 90% !important;
  }

  .techno-container {
    max-width: 90%;
  }
}