$acid-grotesk: "FFF Acid Grotesk";
$culture: "Culture";

// !COLOR
$grey-black: #202020;
$red-color: #dc2323;
$white-color: #fff;
$soft-blue: #e3f7f7;
.nom-date {
  margin-top: 80px;
  margin-bottom: 80px;
}
.nom-date h6 {
  font-size: 18px;
  font-family: $acid-grotesk;
  font-weight: 500;
  color: $grey-black;
  text-align: center;
}
.nom-date h6 span {
  font-size: 18px;
  font-family: $acid-grotesk;
  font-weight: 500;
  color: $red-color;
}

.titre h1 {
  font-size: 112px;
  color: $grey-black;
  text-align: center;
  line-height: 100px;
}
.titre h1 .part1 {
  font-family: $acid-grotesk;
  font-weight: 600;
}
.titre h1 .part2 {
  font-family: $culture;
  font-weight: 900;
}
.img-hero {
  text-align: center;
  margin-top: 100px;
}
.img-hero img {
  width: 80%;
  border-radius: 16px;
}

.description {
  margin-top: 80px;
}
.description h2 {
  text-align: center;
  font-size: 30px;
  font-family: $acid-grotesk;
  color: $grey-black;
  font-weight: 800;
  margin-bottom: 20px;
}
.description h2 span {
  font-style: italic;
  font-weight: 600;
}
.description p {
  font-size: 18px;
  font-family: $acid-grotesk;
  color: $grey-black;
  font-weight: 600;
  width: 800px;
  margin: 8px auto 0px auto;
  line-height: 30px;
}
.container-objectif p {
  width: 500px;
}

.container-objectif {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 20px;
}
.container-container-objectif {
  display: flex;
  justify-content: center;
}

.container-bento {
  display: flex;
  justify-content: space-between;
}

.bento-trois .box-container:nth-child(4),
.bento-trois .box-container:nth-child(5),
.bento-trois .box-container:nth-child(6){
  display: none !important;
}

.bento-deux .box-container:nth-child(1),
.bento-deux .box-container:nth-child(2),
.bento-deux .box-container:nth-child(3){
  display: none !important;
}
.bento-deux {
  gap: 40px;
  margin-top: 20px;
}

.container-fonctioanlite {
  max-width: 1350px;
  margin: 0 auto;
}


.box {
  max-width: 420px;
  padding: 32px;
  background-color: $grey-black;
  border-radius: 16px;
  height: 100%;
}

.box-deux {
  max-width: 100%;
}
.box h1 {
  font-size: 24px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  margin-bottom: 8px;
  font-weight: 700;
}
.box p {
  font-size: 18px;
  font-family: $acid-grotesk;
  color: $soft-blue;
  font-weight: 500;
}
