$acid-grotesk: "FFF Acid Grotesk";
$culture: "Culture";

// !COLOR
$grey-black: #202020;
$red-color: #dc2323;
$white-color: #fff;
$soft-blue: #e3f7f7;
$second-color: #ef233c;

.container {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.txt {
  white-space: nowrap;
  font-size: 110px;
  animation: scrollTxt 6s linear infinite;
  font-family: $acid-grotesk;
  font-weight: 400;
  margin-top: 150px;
}

span img {
  width: 88px;
}

@keyframes scrollTxt {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0%, 0);
  }
}

@media screen and (min-width: 700px) {
  .txt {
    font-size: 190px;
    margin-top: 170px;
  }
  span img {
    width: 112px;
  }
}

@media screen and (min-width: 1024px) {
  .txt {
    font-size: 210px;
    margin-top: 74px;
  }
}
