* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ?VARIABLES
$acid-grotesk: "FFF Acid Grotesk";
$culture: "Culture";
// !COLOR
$grey-black: #202020;
$red-color: #dc2323;
$white-color: #fff;
$soft-blue: #e3f7f7;

// header styles

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: transparent;
  z-index: fixed;
  //   background-color: rgba(255, 255, 255, 0.56);
  padding: 16px 0px 10px 0px;
}

.header{
  margin-top: 20px;
}


.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 24px 0px 24px;
}

.nav__link {
  color: #000;
  font-family: $acid-grotesk;
  font-size: 19px;
  font-weight: 400;
}


.nav__close,
.nav__toggle,
.nav__actions {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__actions {
  column-gap: 10px;
}

// Switch dark mod

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 120px;
  height: 15px;
  background: transparent;
  border: 1px solid $grey-black;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 40px;
  height: 14px;
  background: $grey-black;
  border-radius: 90px;
  transition: 0.3s !important;
}

input:checked+label {
  background: transparent;
  border: 1px solid $white-color;
}

input:checked+label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
}

label:active:after {
  width: 50px;
}

.dark-mod-togled {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark-mod-togled input {
  display: flex;
  align-items: center;
}

.icons-nav {
  width: 19px;
  color: $grey-black;
  margin-bottom: 2px;
}

.nav__link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.nav__item {
  padding: 12px;
  //   border-right: 0.5px solid $grey-black;
}

.nav-btm {
  border-right: 0px solid $grey-black;
}

.nav__menu {
  width: 100%;
 transition: width 0.2s ease;
}

hr {
  // color: $grey-black;
  background-color: $grey-black;
  width: 1px !important;
  border: none;
  // border: solid $grey-black;
  // max-width: 1px;
}



.icons-nav {
  transition: filter 0.3s ease;
}

@media screen and (max-width: 851px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #F4F9FF;
    width: 70%;
    height: 100%;
    // box-shadow: 2px 0 12px hsla(0, 0%, 0%, 0.2);
    padding: 6rem 0 0 0;
    transition: right 0.4s;
    z-index: 1000;
    border: 1px solid $grey-black;
  }

  .nav__item {
    padding: 16px;
    border-bottom: 0.5px solid $grey-black;
    align-items: center;
    display: flex;
  }

  .nav-btm {
    border-bottom: 1px solid $grey-black;
  }

  .dark-mod-togled {
    border-top: 1px solid $grey-black;
  }
}

.nav__close {
  position: absolute;
  top: 2.3rem;
  right: 1.5rem;
}

.nav__close i {
  font-size: 25px;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.show-menu {
  right: 0;
}

/* For large devices */
@media screen and (min-width: 851px) {
  .nav {
    margin: 0 auto;
    border: 1px solid $grey-black;
    border-radius: 28px;
    max-width: 900px;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__item {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  ul .nav__item:nth-child(n + 1):nth-child(-n + 5) {
    border-right: solid 1px $grey-black;
  }

  .header {
    background-color: transparent;
    padding: 0px;
  }

  .nav__item:nth-child(1) {
    border-radius: 28px 0px 0px 28px;
  }

  .nav__item:nth-child(6) {
    border-radius: 0px 28px 28px 0px;
  }



  .nav__item:hover {
    background-color: $grey-black;
    transition: background ease-in 0.3s;
    cursor: pointer;

    .nav__link {
      color: $soft-blue;
      transition: color ease-in 0.3s;
    }

    .icons-nav {
      color: $soft-blue;
      transition: color ease-in 0.3s;
    }

    label:after {
      background: $soft-blue;
      transition: 0.3s;
    }

    label {
      border: 1px solid $soft-blue;
    }
  }

  .header{
    margin-top: 40px;
  }
}

@media screen and (min-width: 1368px) {}

@media screen and (min-width: 1760px) {}