<div class="section-container">
    <div class="container" *ngFor="let item of cardListe">
        <div class="card-site">
            <div class="content-container">
                <div class="photo-card">
                    <div class="overlay"></div>
                    <img [src]="item.imgfond" alt="">
                </div>

                <div class="info-titre">
                    <h5>{{item.techno}}</h5>
                </div>
                <div class="info-card">
                    <div class="txt-card">
                        <h5>{{item.nomProjet}}</h5>
                        <h6>{{item.date}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>